/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    text-decoration: none;
}

.container{
    padding: 20px;
}

/* Basic styling for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Styling for logo */
.logo {
    font-size: 24px;
    margin-left: 30px 30px;
}

/* Styling for nav menu */
.nav-menu {
    display: flex;
    list-style: none;
    margin-right: auto;
}

.nav-menu li {
    margin-left: 35px;
    text-align: center;
}

.nav-menu li a {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    display: flex;
    align-items: center; 
}

.nav-menu li a i{
    margin-left: 5px;
}

/* Styling for buttons */
.btn {
    margin-left: 10px;
    padding: 8px 16px;
    color: hsl(0, 0%, 41%);
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 8px;
    cursor: pointer;
    font-family: "Epilogue";
}

.login{
    border: none;
}





/* Styling for hamburger menu icon */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: hsl(0, 0%, 8%);
    margin: 3px 0;
}

/* Styling for side navbar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 98%);
    padding-top: 60px;
    transition: 0.5s;
    display: none;
}

.sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    color: hsl(0, 0%, 41%);
    display: block;
}

.sidenav a:hover {
    color: hsl(0, 0%, 8%);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}


.hero-text {
    margin-right: 50px; 
    padding: 10px;
}

.hero-text h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 41%);
}

.hero-text a {
    margin-top: 20px;
    padding: 10px 16px;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border-radius: 10px;
    cursor: pointer;
    font-family: "Epilogue";
}



.brands-logo {
    margin-top: 20px;
}

.brands-logo img {
    width: 100px; 
    margin-right: 20px; 
    margin-top: 20px;
}

.hero-image img {
    max-width: 70%;
    margin-left: 60px;
}

@media screen and (max-width: 768px) {

    .container{
        padding: 0;
    }
    .nav-menu {
        display: none;
    }

    .buttons {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .hero-section {
        flex-direction: column-reverse; 
        align-items: center;
    }

    .hero-text {
        margin-right: 0;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .hero-text a {
        margin-top: 10px;
        padding: 16px 12px;
        font-size: 14px;
    }

    .hero-image img {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .brands-logo {
        display: flex;
        width: auto;
    }

    .brands-logo img {
        margin-right: 0;
        margin-top: 10px;
        max-width: none;
        padding: 10px;
        align-items: center;
        
    }
    
}

    

